body {
  margin: 0;
  padding: 0;
  font-family: "Sriracha", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8E9775 !important;
}

.container{
  background-color: white !important;
  border-radius: 25px;
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Sriracha", sans-serif;
}

.LandingTitle{
  color: #C35243;
  font-size: 42px;
  padding-top: 10%;
}

.LandingText{
  color: #4A503D;
  font-size: 25px;
  padding-top: 15px;
}

.LandingLink{
  padding-top: 10px;
  color: #4A503D;
  font-size: 20px;

}

a {
  text-decoration-color: #4A503D !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Sriracha", monospace;
}
